.custom-navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.329);
    border-radius: 8px;
    background: linear-gradient(45deg, #fff, #757171, #333333, #ffcccc);
}

.menu-link {
    transition: all 0.3s ease;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 8px 12px;
    text-decoration: none;
    color: #2e2e2e;
    font-size: 16px;
    font-weight: 600;
}

.menu-link:hover {
    background-color: #d8d8d8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.274);
}

/* styles.css */
.botao-entrar  {
    color: black!important;
    background-color: #ffcccc!important;
    border: 1px solid #cccccc93!important;
    margin-left: auto;
    margin-right: 10px;
    transition: background-color 0.3s, color 0.3s!important;
  }
  
  .botao-entrar:hover {
    background-color: #ff9999 !important;
    color: white !important;
  }
  