/* Galeria.css */

.galeria-fotos {
    display: flex;
    flex-wrap: wrap;
  }
  
  .item-foto {
    margin: 10px;
    text-align: center;
  }
  
  .item-foto img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
/* Adicione essas classes ao seu arquivo de estilos CSS */

.galeria-fotos {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Espaçamento entre as fotos */
  }
  
  .item-foto {
    width: 200px; /* Largura desejada para as fotos */
    height: 200px; /* Altura desejada para as fotos */
    overflow: hidden; /* Evita que imagens maiores afetem o layout */
  }
  
  .item-foto img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mantém a proporção da imagem e corta para caber */
  }
  